DATABASE_URL="postgresql://neondb_owner:npg_4MbjPUkT7sIE@ep-fancy-term-a45s1nag-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:npg_4MbjPUkT7sIE@ep-fancy-term-a45s1nag.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# NextAuth Secret - generate dengan: openssl rand -base64 32
AUTH_SECRET="TA_SBD_secret_key_09410-140041-2026"

# URL aplikasi
NEXTAUTH_URL="http://localhost:3000"

