# Neon PostgreSQL - dapatkan dari dashboard neon.tech
DATABASE_URL=
DIRECT_URL=

# NextAuth Secret - generate dengan: openssl rand -base64 32
AUTH_SECRET="TA_SBD_secret_key_09410-140041-2026"

# URL aplikasi
NEXTAUTH_URL="http://localhost:3000"

